* {
    margin: 0;
    padding: 0;
}

.card-text {
    cursor: pointer;
    padding: 5px 10px;
}

.card-text:hover,
.active {
    background-color: lightblue;
    color: #fff;
}
.result{
    background-color:lightblue;
}